<!--信息提示-->
<div class="container" ng-app="webApp">
    
    <%if(newCourseData.length !=0 ){%>
        <% include ../public/courseAdd %>
    <%}else{%>
        <% include ../public/courseBoard %>
        <% include ../public/courseList %>
     <%}%>
</div>