<!--佛历功课模块-->
<link href="/plugins/foli/html5v3style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/plugins/foli/all39.js"></script>
<section>
<!--定义顶部锚点--> 
<a name="top"></a>
<div class="main" style="margin:0 auto; overflow:hidden;">

<div class="clear"></div>
<div class="center">
  <div class="address1"><a href="/">在线佛历</a></div>
 
  <div class="wanlin">
  <div class="baziwpxian"></div>
  <div class="clear"></div>
  <div class="wannianlibox">
    <div id="middle">
      <div style="display: block;" class="cal_container" id="cal_container">
        <div id="cal_body" class="cal_body">
          <div id="cal_funcbar" class="funcbar">
            <div id="funcbar_content" class="funcbar_content">
              <div id="prev_button" class="BD_WA_LOG_BTN">&lt;</div>
              <div id="year_time">2016年10月</div>
              <div id="next_button" class="BD_WA_LOG_BTN">&gt;</div>
              <div id="single_today_button" class="today_button BD_WA_LOG_BTN">今天</div>
              <div class="clear"></div>
            </div>
          </div>
          <div id="cal_down">
            <div class="cal_downleft">
              <div id="mainCal" class="BD_WA_LOG_BTN"><table id="caltable">             <thead class="tablehead">               <tr>                 <td class="thead6">一</td>                 <td class="thead6">二</td>                 <td class="thead6">三</td>                 <td class="thead6">四</td>                 <td class="thead6">五</td>                 <td class="thead6" style="color:#bc5016;">六</td>                 <td class="thead6" style="color:#bc5016;">日</td>               </tr>             </thead>             <tbody><tr><td i="0" j="0" class="block block6 before"><div class="block_content block_content6"> <div class="before number number6">26</div>                <div class="chinaday chinaday6 festival" style="color: ">廿六</div></div></td><td i="0" j="1" class="block block6 before"><div class="block_content block_content6"> <div class="before number number6">27</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">斗降，至</div></div></td><td i="0" j="2" class="block block6 before"><div class="block_content block_content6"> <div class="before number number6">28</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">地藏斋，</div></div></td><td i="0" j="3" class="block block6 before"><div class="block_content block_content6"> <div class="before number number6">29</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">四天王巡</div></div></td><td i="0" j="4" class="block block6 before"><div class="block_content block_content6"> <div class="before number number6">30</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">诸神考校</div></div></td><td i="0" j="5" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">1</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">本月为斋</div></div></td><td i="0" j="6" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">2</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">北斗九星</div></div></td></tr><tr></tr><tr><td i="1" j="0" class="block block6 "><div class="block_content block_content6"> <div class="number number6">3</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">斗降，犯</div></div></td><td i="1" j="1" class="block block6 "><div class="block_content block_content6"> <div class="number number6">4</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">北斗九星</div></div></td><td i="1" j="2" class="block block6  highLight clickBlock6"><div class="block_content block_content6"> <div class="number number6">5</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">北斗九星</div></div></td><td i="1" j="3" class="block block6 "><div class="block_content block_content6"> <div class="number number6">6</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">雷斋日，</div></div></td><td i="1" j="4" class="block block6 "><div class="block_content block_content6"> <div class="number number6">7</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">北斗九星</div></div></td><td i="1" j="5" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">8</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">四天王巡</div></div></td><td i="1" j="6" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">9</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">重阳节，</div></div></td></tr><tr></tr><tr><td i="2" j="0" class="block block6 "><div class="block_content block_content6"> <div class="number number6">10</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">斗母降，</div></div></td><td i="2" j="1" class="block block6 "><div class="block_content block_content6"> <div class="number number6">11</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">宜戒  </div></div></td><td i="2" j="2" class="block block6 "><div class="block_content block_content6"> <div class="number number6">12</div>                <div class="chinaday chinaday6 festival" style="color: ">十二</div></div></td><td i="2" j="3" class="block block6 "><div class="block_content block_content6"> <div class="number number6">13</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">孟婆尊神</div></div></td><td i="2" j="4" class="block block6 "><div class="block_content block_content6"> <div class="number number6">14</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">四天王巡</div></div></td><td i="2" j="5" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">15</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">月望，犯</div></div></td><td i="2" j="6" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">16</div>                <div class="chinaday chinaday6 festival" style="color: ">十六</div></div></td></tr><tr></tr><tr><td i="3" j="0" class="block block6 "><div class="block_content block_content6"> <div class="number number6">17</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">金龙四大</div></div></td><td i="3" j="1" class="block block6 "><div class="block_content block_content6"> <div class="number number6">18</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">地藏斋，</div></div></td><td i="3" j="2" class="block block6 "><div class="block_content block_content6"> <div class="number number6">19</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">观世音菩</div></div></td><td i="3" j="3" class="block block6 "><div class="block_content block_content6"> <div class="number number6">20</div>                <div class="chinaday chinaday6 festival" style="color: ">二十</div></div></td><td i="3" j="4" class="block block6 "><div class="block_content block_content6"> <div class="number number6">21</div>                <div class="chinaday chinaday6 festival" style="color: ">廿一</div></div></td><td i="3" j="5" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">22</div>                <div class="chinaday chinaday6 festival" style="color: ">廿二</div></div></td><td i="3" j="6" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">23</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">观音斋，</div></div></td></tr><tr></tr><tr><td i="4" j="0" class="block block6 "><div class="block_content block_content6"> <div class="number number6">24</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">地藏斋，</div></div></td><td i="4" j="1" class="block block6 "><div class="block_content block_content6"> <div class="number number6">25</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">月晦日，</div></div></td><td i="4" j="2" class="block block6 "><div class="block_content block_content6"> <div class="number number6">26</div>                <div class="chinaday chinaday6 festival" style="color: ">廿六</div></div></td><td i="4" j="3" class="block block6 "><div class="block_content block_content6"> <div class="number number6">27</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">斗降，犯</div></div></td><td i="4" j="4" class="block block6 "><div class="block_content block_content6"> <div class="number number6">28</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">地藏斋，</div></div></td><td i="4" j="5" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">29</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">四天王巡</div></div></td><td i="4" j="6" class="block block6 "><div class="block_content block_content6"> <div class="weekendNum number6">30</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">药师佛圣</div></div></td></tr><tr></tr><tr><td i="5" j="0" class="block block6 "><div class="block_content block_content6"> <div class="number number6">31</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">地藏斋，</div></div></td><td i="5" j="1" class="block block6 after"><div class="block_content block_content6"> <div class="after number number6">1</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">观音斋 </div></div></td><td i="5" j="2" class="block block6 after"><div class="block_content block_content6"> <div class="after number number6">2</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">净宗五祖</div></div></td><td i="5" j="3" class="block block6 after"><div class="block_content block_content6"> <div class="after number number6">3</div>                <div class="chinaday chinaday6 festival" style="color: ">初四</div></div></td><td i="5" j="4" class="block block6 after"><div class="block_content block_content6"> <div class="after number number6">4</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">达摩祖师</div></div></td><td i="5" j="5" class="block block6 after"><div class="block_content block_content6"> <div class="after number number6">5</div>                <div class="chinaday chinaday6 festival" style="color: #bc5016">雷斋日，</div></div></td><td i="5" j="6" class="block block6 after"><div class="block_content block_content6"> <div class="after number number6">6</div>                <div class="chinaday chinaday6 festival" style="color: ">初七</div></div></td></tr><tr></tr></tbody></table></div>
              <div id="festival_rest"></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div style="display: none;" id="single_container" class="cal_container">
        <div id="single_body" class="cal_body">
          <div class="funcbar">
            <div class="funcbar_content">
              <div id="single_back_button" class="back_button BD_WA_LOG_BTN">&lt;&nbsp;返回</div>
              <div id="single_today_button1" class="today_button BD_WA_LOG_BTN">今天</div>
              <div class="clear"></div>
            </div>
          </div>
          <div id="cal_down">
            <div class="cal_downleft">
              <div id="mainSingle">
                <table id="singletable" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td colspan="3"><div id="singleDateStr">2016年10月 星期三 </div></td>
                    </tr>
                    <tr>
                      <td id="singleArrowLeftTd" class="BD_WA_LOG_BTN"><div id="singleArrowLeft"></div></td>
                      <td id="singleNumTd">5</td>
                      <td id="singleArrowRightTd" class="BD_WA_LOG_BTN"><div id="singleArrowRight"></div></td>
                    </tr>
                    <tr>
                      <td colspan="3"><div style="display: none;" id="jieqiDiv" class="BD_WA_LOG_BTN">
                          <div id="jieqiImg"></div>
                          <div id="jieqiStr">24节气 - 芒种</div>
                          <div id="jieqiArrow"></div>
                          <div class="clear"></div>
                        </div>
                        <div> <span id="nongliStr1">丙申年【猴年】</span> <span id="nongliStr2">丁酉月庚申日</span> </div>
                        <div id="festivalStr">北斗九星降世（自初一至初九），犯者夺纪，此九日俱宜斋戒  </div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div style="display: none;" id="jieqi_container" class="cal_container">
        <div id="jiqei_body" class="cal_body">
          <div class="funcbar">
            <div class="funcbar_content">
              <div id="jieqi_back_button" class="back_button BD_WA_LOG_BTN" from="single_container">&lt;&nbsp;返回</div>
            </div>
          </div>
          <div id="cal_down">
            <div class="cal_downleft">
              <div id="mainJieqi">
                <div id="jieqiName"></div>
                <div id="jieqiTime"></div>
                <div id="jieqiDescribe"></div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
<section>