<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h3 class="archive-title"><%=cateInfo.name%></h3>
                  <% include ../public/foliList.ejs %>
                  <% include ../public/allCourseList.ejs %>
        </div>
    </div>
</div>